In [1]:
pip install yfinance

Requirement already satisfied: yfinance in /Users/aizixin/anaconda3/lib/python3.11/site-packages (0.2.31)
Requirement already satisfied: pandas>=1.3.0 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (3.16.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aizixin/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import requests

# Task 1: Download Monthly Stock Price Data

In [3]:
apple_data = yf.download('AAPL', start='2015-01-01', end='2019-12-31')

[*********************100%%**********************]  1 of 1 completed

# Task 2: Calculate Monthly Log Returns and Annualised Return

In [4]:
apple_data['Log_Return'] = np.log(apple_data['Adj Close'] / apple_data['Adj Close'].shift(1))
monthly_avg_log_return = apple_data['Log_Return'].mean()
annualized_return = ((1 + monthly_avg_log_return) ** 12) - 1

# Task 3: Calculate Annualised Volatility

In [5]:
annualized_volatility = apple_data['Log_Return'].std() * np.sqrt(12)


# Task 4: Dowload ESG Data and Handle Missing Values

In [6]:
pip install yesg

Requirement already satisfied: yesg in /Users/aizixin/anaconda3/lib/python3.11/site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import yesg

Step 1: Download ESG data dor AAPL

In [8]:
ESG = yesg.get_historic_esg('AAPL')
ESG

            Total-Score  E-Score  S-Score  G-Score
Date
2014-09-01        61.00    74.00    45.00    62.00
2014-10-01        60.00    74.00    45.00    62.00
2014-11-01        61.00    74.00    45.00    62.00
2014-12-01        61.00    74.00    45.00    62.00
2015-01-01        61.00    74.00    45.00    62.00
...                 ...      ...      ...      ...
2022-04-01          NaN      NaN      NaN      NaN
2022-05-01        16.41     0.65     6.86     8.90
2022-06-01          NaN      NaN      NaN      NaN
2022-07-01          NaN      NaN      NaN      NaN
2022-08-01        16.68     0.65     6.86     9.18

[96 rows x 4 columns]

Step 2: Handle missing values

In [9]:
ESG.new = pd.DataFrame.dropna(ESG)
ESG.new

/var/folders/tw/2hxkj_xn3252tw7fdg_sj53m0000gn/T/ipykernel_19059/2012856212.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  ESG.new = pd.DataFrame.dropna(ESG)

            Total-Score  E-Score  S-Score  G-Score
Date
2014-09-01        61.00    74.00    45.00    62.00
2014-10-01        60.00    74.00    45.00    62.00
2014-11-01        61.00    74.00    45.00    62.00
2014-12-01        61.00    74.00    45.00    62.00
2015-01-01        61.00    74.00    45.00    62.00
...                 ...      ...      ...      ...
2021-05-01        16.92     0.29     7.69     8.94
2021-09-01        16.92     0.29     7.99     8.64
2022-02-01        16.27     0.65     6.86     8.76
2022-05-01        16.41     0.65     6.86     8.90
2022-08-01        16.68     0.65     6.86     9.18

[78 rows x 4 columns]

# Task 5: Calculate and Analyse the Correlation between Stock Price and ESG

In [10]:
correlation = apple_data['Adj Close'].corr(ESG.new['Total-Score'])

# Print the results

In [11]:
print(f"Annualized Return: {annualized_return:.4f}")
print(f"Annualized Volatility: {annualized_volatility:.4f}")
print(f"Correlation between Stock Price and ESG Total Score: {correlation:.4f}")

Annualized Return: 0.0102
Annualized Volatility: 0.0543
Correlation between Stock Price and ESG Total Score: 0.8976